<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>471672303827-2u7s54b8nl4e03qq5ofptvo98cvhjlvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471672303827-2u7s54b8nl4e03qq5ofptvo98cvhjlvd</string>
	<key>API_KEY</key>
	<string>AIzaSyArSaxxl_VRhgMCZoeEryYA2gaE9Vr48Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>471672303827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>khoa.le.tea.VSA</string>
	<key>PROJECT_ID</key>
	<string>unavsa-8edff</string>
	<key>STORAGE_BUCKET</key>
	<string>unavsa-8edff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471672303827:ios:e1bf50f5d4864146</string>
	<key>DATABASE_URL</key>
	<string>https://unavsa-8edff.firebaseio.com</string>
</dict>
</plist>